@mixin post-theme() {
  .post {
    .post-item {
      .post-content {
        .head {
          font-size: $font-size-base;
          color: $text-color-light;
        }
        .content {
          color: $text-color;
        }
        .quote {
          border-left: 5px solid $split-line-color;
          color: $text-color-light;
        }
      }
    }

    .post-replys {
      border-top: 1px solid $split-line-color;
    }
    .reply-input{
      background: $bg-dark;
      color: $text-color;
    }
    .post-bottom {
      background: $bg-dark;
      .show-reply-input-button {
        color: $text-color-lighter;
        background: $bg-light;
      }
    }
  }
}
