body,html{
    margin: 0 auto;
    width:100%;
    height:100%;
}
.head-section{
    position:fixed;
    z-index: -1;
    background: #111;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-section img{
    width: 250px;
    opacity: 0.9;

}
.course-info{
    position:relative;
}

.course-info .button{
      position:absolute;
      font-size: 14px;
      z-index:10000;
      height: 28px;
    }
.main-container{
    margin: 0 auto;
    width: 100%;
    position:absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
section img{
    width: 100%;
}
.panel{
  max-width: 400px;
}
.button{
   display: inline-block;
}
.footer-img{

  margin-bottom: 60px;
}
.footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200;
    opacity: 0;
}
.footer .button{
  margin-right: 30px;
}
.favor-label{
  margin-left: 30px;
  height: 21px;
}

@keyframes starAnim {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }
    100%{
        transform: translateY(-400px);
        -webkit-transform: translateY(-400px);
        -moz-transform: translateY(-400px);
        -o-transform: translateY(-400px);
    }
}
#stars1,#stars2,#stars3{
    position: fixed;
    top: 0;
    left: 0;
}
#stars1{
    animation: starAnim 40s infinite;
    opacity: 0.3;
}
#stars2{
    animation: starAnim 70s infinite;
    opacity: 0.8;
}
#stars3{
    animation: starAnim 100s infinite;
    opacity: 0.5;
}
#stars1 .p{
    box-shadow: 0 0 20px rgba(255,255,255,0.6);
    -webkit-box-shadow: 0 0 20px rgba(255,255,255,0.6);
    -o-box-shadow: 0 0 20px rgba(255,255,255,0.6);
    -moz-box-shadow: 0 0 20px rgba(255,255,255,0.6);
}
#stars2 .p{
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5);
    -o-box-shadow: 0 0 10px rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 10px rgba(255,255,255,0.5);
}
#stars3 .p{
    box-shadow: 0 0 5px rgba(255,255,255,0.1);
}
/* line 6, ../sass/tmp.scss */
.p{
  /*animation-name: flicker;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  */
  background: #fff;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  transform: scale(0.5);
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(1) {
  animation-delay: 1.75s;
  animation-duration: 3s;
  left: 61vw;
  top: 42vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(2) {
  animation-delay: 0.22222s;
  animation-duration: 0.5s;
  left: 61vw;
  top: 81vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(3) {
  animation-delay: 10s;
  animation-duration: 1s;
  left: 46vw;
  top: 22vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(4) {
  animation-delay: 1.75s;
  animation-duration: 1.5s;
  left: 9vw;
  top: 81vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(5) {
  animation-delay: 5s;
  animation-duration: 1.33333s;
  left: 12vw;
  top: 18vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(6) {
  animation-delay: 1s;
  animation-duration: 1.33333s;
  left: 24vw;
  top: 14vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(7) {
  animation-delay: 5s;
  animation-duration: 4s;
  left: 43vw;
  top: 67vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(8) {
  animation-delay: 1.5s;
  animation-duration: 2s;
  left: 45vw;
  top: 21vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(9) {
  animation-delay: 0.33333s;
  animation-duration: 3s;
  left: 52vw;
  top: 70vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(10) {
  animation-delay: 0.28571s;
  animation-duration: 2s;
  left: 41vw;
  top: 39vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(11) {
  animation-delay: 0.88889s;
  animation-duration: 2s;
  left: 16vw;
  top: 73vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(12) {
  animation-delay: 1.25s;
  animation-duration: 0.66667s;
  left: 21vw;
  top: 7vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(13) {
  animation-delay: 1.75s;
  animation-duration: 1s;
  left: 22vw;
  top: 21vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(14) {
  animation-delay: 0.75s;
  animation-duration: 0.66667s;
  left: 44vw;
  top: 9vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(15) {
  animation-delay: 1.8s;
  animation-duration: 0.5s;
  left: 49vw;
  top: 63vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(16) {
  animation-delay: 1.66667s;
  animation-duration: 1s;
  left: 75vw;
  top: 74vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(17) {
  animation-delay: 0.28571s;
  animation-duration: 1s;
  left: 34vw;
  top: 86vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(18) {
  animation-delay: 1.16667s;
  animation-duration: 1s;
  left: 16vw;
  top: 19vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(19) {
  animation-delay: 0.16667s;
  animation-duration: 4s;
  left: 80vw;
  top: 67vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(20) {
  animation-delay: 1.28571s;
  animation-duration: 1s;
  left: 59vw;
  top: 100vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(21) {
  animation-delay: 1.5s;
  animation-duration: 2s;
  left: 52vw;
  top: 21vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(22) {
  animation-delay: 5s;
  animation-duration: 1s;
  left: 6vw;
  top: 5vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(23) {
  animation-delay: 1s;
  animation-duration: 2s;
  left: 97vw;
  top: 64vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(24) {
  animation-delay: 2.5s;
  animation-duration: 2s;
  left: 80vw;
  top: 51vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(25) {
  animation-delay: 2.25s;
  animation-duration: 0.5s;
  left: 72vw;
  top: 99vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(26) {
  animation-delay: 0.5s;
  animation-duration: 4s;
  left: 47vw;
  top: 40vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(27) {
  animation-delay: 2.66667s;
  animation-duration: 1s;
  left: 38vw;
  top: 84vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(28) {
  animation-delay: 0.83333s;
  animation-duration: 0.5s;
  left: 96vw;
  top: 5vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(29) {
  animation-delay: 2.33333s;
  animation-duration: 1.33333s;
  left: 47vw;
  top: 71vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(30) {
  animation-delay: 0.6s;
  animation-duration: 1.33333s;
  left: 74vw;
  top: 15vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(31) {
  animation-delay: 0.14286s;
  animation-duration: 0.33333s;
  left: 76vw;
  top: 97vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(32) {
  animation-delay: 0.125s;
  animation-duration: 0.33333s;
  left: 69vw;
  top: 1vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars1 .p:nth-child(33) {
  animation-delay: 0.4s;
  animation-duration: 4s;
  left: 53vw;
  top: 22vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(1) {
  animation-delay: 7s;
  animation-duration: 0.66667s;
  left: 5vw;
  top: 66vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(2) {
  animation-delay: 0.14286s;
  animation-duration: 1s;
  left: 5vw;
  top: 57vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(3)  {
  animation-delay: 1.25s;
  animation-duration: 1s;
  left: 28vw;
  top: 68vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(4) {
  animation-delay: 1.5s;
  animation-duration: 2s;
  left: 29vw;
  top: 46vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(5) {
  animation-delay: 4.5s;
  animation-duration: 0.5s;
  left: 97vw;
  top: 77vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(6) {
  animation-delay: 0.875s;
  animation-duration: 3s;
  left: 84vw;
  top: 60vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(7) {
  animation-delay: 7s;
  animation-duration: 3s;
  left: 60vw;
  top: 77vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(8) {
  animation-delay: 7s;
  animation-duration: 1s;
  left: 1vw;
  top: 62vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(9) {
  animation-delay: 1.75s;
  animation-duration: 0.66667s;
  left: 90vw;
  top: 86vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(10) {
  animation-delay: 1s;
  animation-duration: 0.5s;
  left: 36vw;
  top: 99vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(11) {
  animation-delay: 3s;
  animation-duration: 1.5s;
  left: 96vw;
  top: 33vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(12) {
  animation-delay: 1s;
  animation-duration: 0.33333s;
  left: 7vw;
  top: 15vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(13) {
  animation-delay: 1.28571s;
  animation-duration: 1s;
  left: 52vw;
  top: 70vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(14) {
  animation-delay: 4.5s;
  animation-duration: 2s;
  left: 45vw;
  top: 64vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(15) {
  animation-delay: 0.25s;
  animation-duration: 0.33333s;
  left: 19vw;
  top: 21vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(16) {
  animation-delay: 1s;
  animation-duration: 4s;
  left: 36vw;
  top: 97vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(17) {
  animation-delay: 1.28571s;
  animation-duration: 1.33333s;
  left: 61vw;
  top: 39vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(18) {
  animation-delay: 2.25s;
  animation-duration: 3s;
  left: 75vw;
  top: 92vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(19) {
  animation-delay: 2.5s;
  animation-duration: 4s;
  left: 71vw;
  top: 71vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(20) {
  animation-delay: 0.375s;
  animation-duration: 2s;
  left: 50vw;
  top: 20vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(21) {
  animation-delay: 1.16667s;
  animation-duration: 2s;
  left: 73vw;
  top: 66vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(22) {
  animation-delay: 3.33333s;
  animation-duration: 4s;
  left: 9vw;
  top: 73vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(23) {
  animation-delay: 1s;
  animation-duration: 0.33333s;
  left: 44vw;
  top: 93vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(24) {
  animation-delay: 1.14286s;
  animation-duration: 1.5s;
  left: 46vw;
  top: 27vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(25) {
  animation-delay: 1.33333s;
  animation-duration: 1.5s;
  left: 46vw;
  top: 33vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(26) {
  animation-delay: 1.25s;
  animation-duration: 1.33333s;
  left: 10vw;
  top: 89vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(27) {
  animation-delay: 0.25s;
  animation-duration: 0.5s;
  left: 33vw;
  top: 92vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(28) {
  animation-delay: 1.125s;
  animation-duration: 0.66667s;
  left: 45vw;
  top: 13vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(29) {
  animation-delay: 4s;
  animation-duration: 0.33333s;
  left: 56vw;
  top: 32vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(30) {
  animation-delay: 0.5s;
  animation-duration: 0.33333s;
  left: 62vw;
  top: 55vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(31) {
  animation-delay: 0.71429s;
  animation-duration: 2s;
  left: 34vw;
  top: 63vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(32) {
  animation-delay: 0.875s;
  animation-duration: 1.5s;
  left: 14vw;
  top: 69vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars2 .p:nth-child(33) {
  animation-delay: 0.75s;
  animation-duration: 1s;
  left: 76vw;
  top: 49vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(1) {
  animation-delay: 2.25s;
  animation-duration: 1.5s;
  left: 16vw;
  top: 14vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(2) {
  animation-delay: 8s;
  animation-duration: 1s;
  left: 61vw;
  top: 20vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(3) {
  animation-delay: 1.42857s;
  animation-duration: 2s;
  left: 32vw;
  top: 87vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(4) {
  animation-delay: 0.25s;
  animation-duration: 4s;
  left: 27vw;
  top: 12vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(5) {
  animation-delay: 0.28571s;
  animation-duration: 1s;
  left: 9vw;
  top: 14vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(6) {
  animation-delay: 4s;
  animation-duration: 0.33333s;
  left: 14vw;
  top: 76vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(7) {
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  left: 3vw;
  top: 10vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(8) {
  animation-delay: 9s;
  animation-duration: 1s;
  left: 63vw;
  top: 22vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(9) {
  animation-delay: 1s;
  animation-duration: 2s;
  left: 22vw;
  top: 96vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(10) {
  animation-delay: 0.57143s;
  animation-duration: 1s;
  left: 5vw;
  top: 82vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(11) {
  animation-delay: 1.5s;
  animation-duration: 0.66667s;
  left: 38vw;
  top: 72vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(12) {
  animation-delay: 1.14286s;
  animation-duration: 3s;
  left: 100vw;
  top: 63vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(13) {
  animation-delay: 0.66667s;
  animation-duration: 2s;
  left: 24vw;
  top: 88vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(14) {
  animation-delay: 1s;
  animation-duration: 1.33333s;
  left: 26vw;
  top: 48vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(15) {
  animation-delay: 0.71429s;
  animation-duration: 1.5s;
  left: 55vw;
  top: 1vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(16) {
  animation-delay: 2.25s;
  animation-duration: 1.33333s;
  left: 33vw;
  top: 92vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(17) {
  animation-delay: 0.85714s;
  animation-duration: 0.66667s;
  left: 80vw;
  top: 1vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(18) {
  animation-delay: 0.5s;
  animation-duration: 1s;
  left: 64vw;
  top: 37vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(19) {
  animation-delay: 1.42857s;
  animation-duration: 0.5s;
  left: 8vw;
  top: 16vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(20) {
  animation-delay: 0.4s;
  animation-duration: 1.33333s;
  left: 38vw;
  top: 85vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(21) {
  animation-delay: 1.28571s;
  animation-duration: 1.5s;
  left: 40vw;
  top: 76vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(22) {
  animation-delay: 1.6s;
  animation-duration: 0.5s;
  left: 20vw;
  top: 44vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(23) {
  animation-delay: 0.71429s;
  animation-duration: 1s;
  left: 52vw;
  top: 87vh;
  height: 0.15em;
  width: 0.15em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(24) {
  animation-delay: 2.25s;
  animation-duration: 0.33333s;
  left: 55vw;
  top: 34vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(25) {
  animation-delay: 0.75s;
  animation-duration: 0.33333s;
  left: 12vw;
  top: 16vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(26) {
  animation-delay: 1.11111s;
  animation-duration: 0.66667s;
  left: 88vw;
  top: 27vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(27) {
  animation-delay: 2s;
  animation-duration: 1s;
  left: 26vw;
  top: 56vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(28) {
  animation-delay: 4s;
  animation-duration: 0.5s;
  left: 83vw;
  top: 78vh;
  height: 0.1em;
  width: 0.1em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(29) {
  animation-delay: 4.5s;
  animation-duration: 0.66667s;
  left: 19vw;
  top: 25vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(30) {
  animation-delay: 0.14286s;
  animation-duration: 1s;
  left: 91vw;
  top: 65vh;
  height: 0.05em;
  width: 0.05em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(31) {
  animation-delay: 1s;
  animation-duration: 1s;
  left: 72vw;
  top: 92vh;
  height: 0.2em;
  width: 0.2em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(32) {
  animation-delay: 4.5s;
  animation-duration: 2s;
  left: 95vw;
  top: 56vh;
  height: 0.25em;
  width: 0.25em;
}

/* line 20, ../sass/tmp.scss */
#stars3 .p:nth-child(33) {
    animation-delay: 2.25s;
    animation-duration: 1s;
    left: 36vw;
    top: 65vh;
    height: 0.25em;
    width: 0.25em;
}