//== Tabs
//
.tabs{
  height: $tab-height;
  position: relative;
  padding-top: 5px;
  background: $tab-bg;
  border-bottom: 1px solid $split-line-color;
  z-index:1000;
  @include flex(center,center);

  .tab-container{
    height:100%;
    @include flex(space-start);

    .tab-item{
      height: 100%;
      min-width: $tab-item-min-width;
      margin: 0 15px;
      position: relative;
      color: $tab-color;
      font-size: $tab-font-size;
      @include flex(center,center);
      @include unable-tap-color;
      &::after{
          position: absolute;
          width: 0;
          left: 50%;
          bottom: 0;
          border-bottom: $tab-line-weight solid $tab-active-color;
          content: '';
      }
      &.active{
        color: $tab-active-color;
        &::after{
          width: 100%;
          left: 0;
          @include transition(all .2s ease-in);
        }
      }
    }
  }
}
