@import "../../common_style/variables";
@import "../../common_style/mixins";
$answer-box-height: 160px;
.question{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: $nav-height;
  overflow: scroll;
  padding: $padding-base-horizontal $padding-small-vertical;
  .question-item{
    padding: 10px;
    @include flex(flex-start);
    .avatar{
      margin-right: 20px;
      flex-shrink: 0 ;
    }
    .question-content{
      width: 100%;
      .head{
        @include flex(space-between);
        font-size: $font-size-base;
        color: $text-color-light;
        margin: 10px 0;
        .time{
          font-size: $font-size-small;
        }
      }
      .content{
        font-size: $font-size-base;
        color: $text-color;
        line-height: $line-height-base;
      }
      .quote{
        border-left: 5px solid $split-line-color;
        padding: 5px 10px;
        margin: 10px 0;
        color: $text-color-light;
        //font-size: $font-size-small;
      }
      .bottom-tool{
        @include flex(flex-end);
        .heart{
          margin-left: 10px;
        }
      }
    }
  }

  .question-favor{
      @include flex(space-between,center);
      margin: 20px 10px;
      .avatars{
         @include flex(flex-start);
        .avatar{
          margin-right: 10px;
        }
      }
  }

  .question-answers{
      margin-top: 10px;
      border-top: 1px solid $split-line-color;
      padding-top: 20px;
  }
  .answer-input-container{
      padding: $padding-base-horizontal $padding-large-vertical;
      height: $answer-box-height;
  }
  .answer-input{
      border: none;
      outline: none;
      width: 100%;
      font-size: $font-size-base;
      line-height: $line-height-base;
      font-family: $font-family-base;
      height: $answer-box-height - 60px;
      margin-bottom: 10px;
      background: $bg-dark;
      &:focus{
        outline: none;
      }
  }
  .answer-submit-buttons{
      @include flex(flex-end);
      .button{
        display: inline-block;
        margin-left: 20px;
      }
  }
  .question-bottom{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: $nav-height;
      background: $bg-dark;
      padding: 0 $padding-base-horizontal;
      @include flex(space-between,center);
      .show-answer-input-button{
          width: calc(100% - 70px);
          height: 35px;
          padding: 0 10px;
          color: $text-color-lighter;
          background: $bg-light;
          @include flex(flex-start,center);
      }
  }

  .delete-question-container{
    padding-top: 30px;
    .delete-content{
      margin: 0 20px;
      max-height: 200px;
      overflow: scroll;
    }
    .button-tools{
      @include flex(flex-end)
    }
    .button{
      display: inline-block;
      margin: 10px;
    }
  }
}
