@mixin question-theme() {
  .question {
    .question-item {
      .question-content {
        .head {
          font-size: $font-size-base;
          color: $text-color-light;
        }
        .content {
          color: $text-color;
        }
        .quote {
          border-left: 5px solid $split-line-color;
          color: $text-color-light;
        }
      }
    }

    .question-answers {
      border-top: 1px solid $split-line-color;
    }
    .answer-input{
      background: $bg-dark;
      color: $text-color;
    }
    .question-bottom {
      background: $bg-dark;
      .show-answer-input-button {
        color: $text-color-lighter;
        background: $bg-light;
      }
    }
  }
}
