@import "../../common_style/variables";
@import "../../common_style/mixins";
.memo{
  width: 100%;
  height: 100%;
  .canvas-container{
    display:none; 
    position: absolute;
    top: 0;
    left: 0;
  } 
  .canvas-img-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    padding-top: 70px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    @include flex(center);
  }
  .canvas-img{
    width: calc(100% - 90px);
    max-width: 375px;
    max-height: 667px;
    @include box-shadow(0 0 20px rgba(0,0,0,0.1));
  }
  .save-info{
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    background: rgba(255,255,255,0.9);
    padding: 20px 0;
    font-size: $font-size-small;
    text-align: center;
    color: $text-color-light;
  }

}
