@mixin note-theme() {
  .note {
    .note-item {
      .note-content {
        .head {
          font-size: $font-size-base;
          color: $text-color-light;
        }
        .content {
          color: $text-color;
        }
        .quote {
          border-left: 5px solid $split-line-color;
          color: $text-color-light;
        }
      }
    }

    .note-comments {
      border-top: 1px solid $split-line-color;
    }
    .comment-input{
      background: $bg-dark;
      color: $text-color;
    }
    .note-bottom {
      background: $bg-dark;
      .show-comment-input-button {
        color: $text-color-lighter;
        background: $bg-light;
      }
    }
  }
}
